/* @font-face {
  font-family: 'RussianRail G Regular';
  src: url('@/assets/fonts/RussianRail G Regular.otf') format('opentype');
}

/* font-family: 'RussianRail G Regular', Arial, sans-serif; */

/* @import"https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;1,700&display=swap";@import"https://fonts.googleapis.com/icon?family=Material+Icons"; 

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('@/assets/fonts/IBM_Plex_Sans-Regular.otf');
  font-weight: normal;
  font-style: normal;
} */ 

